<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-text">
    <div>
      <b>HighLevel Wallet</b>
    </div>
  </span>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngIf="!showTransaction">
      <form>
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input type="text" [(ngModel)]="username" class="form-control" name="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputbalance">balance</label>
          <input type="text" [(ngModel)]="balance"  class="form-control" name="balance">
        </div>
        <button type="button" (click)='setup()' class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4" *ngIf="showTransaction">
      <form>
        <div class="form-group">
          <label for="exampleInputUsername">Amount</label>
          <input type="text" [(ngModel)]="amount" class="form-control" name="Amount">
        </div>
        <div class="form-group">
          <label for="exampleInputbalance">Description</label>
          <input type="text" [(ngModel)]="description"  class="form-control" name="Description">
        </div>
        <button type="button" (click)='creditDebit()' class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-4" *ngIf="showTransaction">
      <form>
        <div class="form-group">
          <label for="exampleInputUsername">Wallet Name</label>
          <input type="text"  disabled="true" [(ngModel)]="name" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="exampleInputbalance">Balance</label>
          <input type="text" disabled="true" [(ngModel)]="balance"  class="form-control" name="balance">
        </div>
      </form>
    </div>
  </div>


  <div class="container mt-5" *ngIf="showTransaction">
    <button (click)="saveDataInCSV1('highLevel',transactions)">Export CSV</button>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>S.no</th>
          <th>Id</th>
          <th>walletId</th>
          <th>Amount</th>
          <th>Balance</th>
          <th>Description</th>
          <th>Type</th>
          <th>Date</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions | paginate
      : {
          itemsPerPage: itemsPerPage,
          currentPage: page,
          totalItems: totalItems
        }; let i = index">
        <td>{{i + 1}}</td>
        <td>{{ transaction._id }}</td>
        <td>{{ transaction.walletId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.balance }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.date.toString()| date : 'dd-MM-yyyy hh:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  class="pagi"
  (pageChange)="gty((page = $event ),transactions[0].walletId)"
></pagination-controls>

</div>
